@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .sidebar_child{
    flex: 0.15;
  }
  /* .sidebar_hr{
    border:1px solid rgb(52, 48, 48);
    width:100%;
  } */
  hr {
     background-color: rgb(43, 41, 41);
      height: 2px;
      border: 0;
      border-radius: 10px;;
   }

  body::-webkit-scrollbar{
    display: none;
   }
   .sidebar_b{
    overflow-y: overlay;
   }
.sidebar_b::-webkit-scrollbar{
  display: none;
}

.sidebar_footer{
  border-top: 1px solid rgb(73, 73, 73);
  background-color:rgb(31, 30, 30)
}
.footer_album{
  flex:0.33;
}
.footer_play{
  flex:0.33;
}
.footer_volume{
  flex: 0.34;
}

/* .footer_play_uppper{
flex:0.5;
display:flex;
align-items:center;
justify-content:space-between;

} */
/* .child{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-left: 20px;
  font-size: 30px !important;
 } */
